<main ng-controller="ClientController as vm">
  <section class="row">
    <div class="col-sm-6">
      <form name="myForm" ng-submit="vm.submit()">
        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control"
            ui-mask="99999-999"
            ng-model="vm.cep" ng-blur="vm.findCep(vm.cep)"/>
        </div>

        <div class="form-group">
          <label>Rua</label>
          <input type="text" class="form-control"
            ng-model="vm.client.street"/>
        </div>

        <div class="form-group">
          <label>Número</label>
          <input type="text" class="form-control"
            ng-model="vm.client.number"/>
        </div>

        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control"
            ng-model="vm.client.city"/>
        </div>
        <div class="form-group">
          <label>UF</label>
          <input type="text" class="form-control"
            ng-model="vm.client.uf"/>
        </div>
      </form>
    </div>
  </section>
</main>
